.header {
    grid-area: "header";
    grid-column: 1/-1;
  
    border-radius: 5px;
    background-color: blue;
    padding: 3px;
  }
  
  .header_items{
    display: grid;
    grid-template-columns: 130px 1fr;
  }
  
  .header_items img{
    width: 100px;
    margin: 5px;
  }