.App{
  display: grid;
  margin: 7px;
  grid-template-areas: 
  "header header"
  "navbar content"
  "footer footer";
  grid-template-columns: minmax(100px, 250px) 4fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(75px, auto);
}











